mixin sBlog(btn)
	// start sBlog
	+b.SECTION.sBlog.section&attributes(attributes)
		mixin card(img, title, date, text, tags=['Лучшие отели'], horrizontal)
			+e.card(href='#')&attributes(attributes)
				+e.img-wrap: .img-wrap-center: +img(`img/${img}`, 'bg')
				+e.content 
					+e.tag-row.row
						each tag in tags
							.col-auto
								+e.tag!= tag
					if horrizontal
						h4!= title
					else
						h6!= title
					if text
						p!= text
					+e.date!= date
		.container
			block
			if btn
				+e.btn.btn.btn-outline-secondary(href='#') Показать еще 
	// end sBlog