mixin sOurPartners(data)
	// start sOurPartners
	+b.SECTION.sOurPartners.section#sOurPartners&attributes(attributes)
		.container 
			mixin item(img, title, text='Бренд Coral Travel представлен на рынке с&nbsp;1995&nbsp;года. Клиентов Coral Travel в&nbsp;Турции, Египте, Греции, Испании, ОАЭ, Таиланде и&nbsp;Вьетнаме обслуживают принимающая компания Odeon Tours', customClass)
				div(class=(customClass ? customClass : 'col-sm-6 col-lg-4 col-xl-3'))
					+e.item
						+e.img-wrap: .img-wrap-center: +img(`img/${img}`)
						h6!= title
						p!= text
			+e.row.row
				+item('sOurPartners-img-1.png', 'Coral travel')
				+item('sOurPartners-img-2.png', 'Алеан')
				+item('sOurPartners-img-3.png', 'Библио глобус')
				+item('sOurPartners-img-4.png', 'Pegas')
				+item('sOurPartners-img-5.png', 'ANEX')
				+item('sOurPartners-img-6.png', 'PAC GROUP')
				+item('sOurPartners-img-7.png', 'ПАКС')
				+item('sOurPartners-img-8.png', 'TUI')
				+item('sOurPartners-img-9.png', 'TEZ')
				+item('sOurPartners-img-10.png', 'ClickVoyage')
				+item('sOurPartners-img-11.png', 'Русский Экспресс')
				+item('sOurPartners-img-12.png', 'ICS Travel Group')
				+item('sOurPartners-img-13.png', 'LOTI')
	// end sOurPartners