mixin sMostPopular(data)
	// start sMostPopular
	+b.SECTION.sMostPopular.section#sMostPopular&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Самые популярные направления по России
				p Более 250 направлений
			+e.row.row
				mixin item(img, title, text, city, price='от 40 000 р.')
					.col-lg-6
						+e.item.bg-wrap
							+img(`img/${img}`, 'bg').picture-bg
							h2!= title
							if city 
								+e.city!=city
							p!=text
							+e.price!=price
				+item('sMostPopular-img-1.jpg', 'Санкт-Петербург', 'Самый западный город России, богатый на&nbsp;историю и&nbsp;достопримечательности, с&nbsp;изысканным европейским')
				+item('sMostPopular-img-2.jpg', 'Карелия', 'Самый западный город России, богатый на&nbsp;историю и&nbsp;достопримечательности, с&nbsp;изысканным европейским антуражем')
				+item('sMostPopular-img-3.jpg', 'Калининград', 'Самый западный город России, богатый на&nbsp;историю и&nbsp;достопримечательности, с&nbsp;изысканным европейским антуражем не&nbsp;оставит равнодушным даже самого искушенного путешественника')
				+item('sMostPopular-img-4.jpg', 'Краснодарский край', 'Самый западный город России, богатый на&nbsp;историю и&nbsp;достопримечательности, с&nbsp;изысканным европейским антуражем не&nbsp;оставит равнодушным даже самого искушенного путешественника', 'Сочи, Анапа, Геленджик')
				+item('sMostPopular-img-5.jpg', 'Крым', 'Самый западный город России, богатый на&nbsp;историю и&nbsp;достопримечательности, с&nbsp;изысканны')
				+item('sMostPopular-img-6.jpg', 'Алтай', 'Самый западный город России, богатый на&nbsp;историю и&nbsp;достопримечательности, с&nbsp;изысканным европейским')
				+item('sMostPopular-img-7.jpg', 'Казань', 'Самый западный город России, богатый на&nbsp;историю и&nbsp;достопримечательности, с&nbsp;изысканным европейским')
				+item('sMostPopular-img-8.jpg', 'Байкал', 'Самый западный город России, богатый на&nbsp;историю и&nbsp;достопримечательности, с&nbsp;изысканным европейским антуражем не&nbsp;оставит равнодушным даже самого искушенного путешественника')
				+item('sMostPopular-img-9.jpg', 'Золотое кольцо', 'Самый западный город России, богатый на&nbsp;историю и&nbsp;достопримечательности, с&nbsp;изысканным европейским антуражем не&nbsp;оставит равнодушным даже самого искушенного путешественника', 'Ярославская, Костромская и Тверская области')
	// end sMostPopular