mixin sTnx(data)
	// start sTnx
	+b.SECTION.sTnx.section#sTnx&attributes(attributes)
		.container
			+img('img/svg/sTnx.svg').res-i
			h1 Спасибо!
			p Ваша заявка принята. Мы&nbsp;с&nbsp;Вами свяжемся в&nbsp;течении часа для уточнения деталей
			+e.btn.btn.btn-primary.btn-sm(href='/') Вернуться на главную
	// end sTnx