mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock.bg-wrap&attributes(attributes)
		+e.img-wrap
			+img('img/sHeaderblock-bg-1.jpg', 'bg').picture-bg
		.container
			h1 Поиск туров по&nbsp;всем операторам
			.d-md-none
				.tv-search-form.tv-moduleid-9961798
			.d-none.d-md-block
				.tv-search-form.tv-moduleid-9961661
	// end headerBlock

mixin headerBlock2()
	// start headerBlock
	+b.headerBlock--2.section#headerBlock.bg-wrap&attributes(attributes)
		+e.img-wrap
			+img('img/sHeaderblock-bg-2.jpg', 'bg').picture-bg
		.container
			h1 Свадебные <br> туры
			+form-wrap
				h4 Оставьте свой номер&nbsp;телефона для консультации и подбора
				.row
					.col-lg
						+input('Введите', 'text', 'Ваше имя')
					.col-lg
						+input('Введите', 'tel', 'Номер телефона')
					.col-lg-auto
						+e.btn.btn.btn-primary(type='submit') Отправить
					.col-12
						+policy
	// end headerBlock

mixin headerBlock3()
	// start headerBlock
	+b.headerBlock--3.section#headerBlock.bg-wrap&attributes(attributes)
		+e.img-wrap
			+img('img/sHeaderblock-bg-3.jpg', 'bg').picture-bg
		.container.text-center
			h1 Туры по всей России
			h4 Узнай свою страну поближе
	// end headerBlock