mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock.bg-wrap&attributes(attributes)
		+e.img-wrap
			+img('img/sHeaderblock-bg-1.jpg', 'bg').picture-bg
		.container
			h1 Поиск туров по&nbsp;всем операторам
			+e.wrap
				+e.head
				+e.body
	// end headerBlock