mixin sOurBenefits(data)
	// start sOurBenefits
	+b.SECTION.sOurBenefits.section#sOurBenefits&attributes(attributes)
		.container
			+b.section-title
				h4 Наши достижения
			.tabs
				.tabs__caption.swiper.default-slider-js
					.swiper-wrapper
						.tabs__btn.swiper-slide.active Награды
						.tabs__btn.swiper-slide Благодарности
						.tabs__btn.swiper-slide Сертификаты
				.tabs__content.active
					+e.slider.swiper.default-slider-js
						.swiper-wrapper
							+e.slide.swiper-slide
								+e.item
									+img('img/sOurBenefits-img-1.png')
									p Краткое описание награды в несколько строк для наглядности отображения
							+e.slide.swiper-slide
								+e.item
									+img('img/sOurBenefits-img-2.png')
									p Краткое описание награды в несколько строк для наглядности отображения
							+e.slide.swiper-slide
								+e.item
									+img('img/sOurBenefits-img-1.png')
									p Краткое описание награды в несколько строк для наглядности отображения
							+e.slide.swiper-slide
								+e.item
									+img('img/sOurBenefits-img-2.png')
									p Краткое описание награды в несколько строк для наглядности отображения
							+e.slide.swiper-slide
								+e.item
									+img('img/sOurBenefits-img-1.png')
									p Краткое описание награды в несколько строк для наглядности отображения
							+e.slide.swiper-slide
								+e.item
									+img('img/sOurBenefits-img-2.png')
									p Краткое описание награды в несколько строк для наглядности отображения
				.tabs__content
					+e.slider.swiper.default-slider-js
						.swiper-wrapper
							+e.slide.swiper-slide
								+e.item
									+img('img/sOurBenefits-img-1.png')
									p Краткое описание награды в несколько строк для наглядности отображения
							+e.slide.swiper-slide
								+e.item
									+img('img/sOurBenefits-img-2.png')
									p Краткое описание награды в несколько строк для наглядности отображения
							+e.slide.swiper-slide
								+e.item
									+img('img/sOurBenefits-img-1.png')
									p Краткое описание награды в несколько строк для наглядности отображения
							+e.slide.swiper-slide
								+e.item
									+img('img/sOurBenefits-img-2.png')
									p Краткое описание награды в несколько строк для наглядности отображения
							+e.slide.swiper-slide
								+e.item
									+img('img/sOurBenefits-img-1.png')
									p Краткое описание награды в несколько строк для наглядности отображения
							+e.slide.swiper-slide
								+e.item
									+img('img/sOurBenefits-img-2.png')
									p Краткое описание награды в несколько строк для наглядности отображения
				.tabs__content
					+e.slider.swiper.default-slider-js
						.swiper-wrapper
							+e.slide.swiper-slide
								+e.item
									+img('img/sOurBenefits-img-1.png')
									p Краткое описание награды в несколько строк для наглядности отображения
							+e.slide.swiper-slide
								+e.item
									+img('img/sOurBenefits-img-2.png')
									p Краткое описание награды в несколько строк для наглядности отображения
							+e.slide.swiper-slide
								+e.item
									+img('img/sOurBenefits-img-1.png')
									p Краткое описание награды в несколько строк для наглядности отображения
							+e.slide.swiper-slide
								+e.item
									+img('img/sOurBenefits-img-2.png')
									p Краткое описание награды в несколько строк для наглядности отображения
							+e.slide.swiper-slide
								+e.item
									+img('img/sOurBenefits-img-1.png')
									p Краткое описание награды в несколько строк для наглядности отображения
							+e.slide.swiper-slide
								+e.item
									+img('img/sOurBenefits-img-2.png')
									p Краткое описание награды в несколько строк для наглядности отображения
			//- +e.row.row
	// end sOurBenefits