mixin sGetTours(data)
	// start sGetTours
	+b.SECTION.sGetTours.section#sGetTours&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Подобрать тур по России
			.tv-search-form.tv-moduleid-9961702
	// end sGetTours