extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug

include ../blocks/sMostPopular/_sMostPopular.pug
include ../blocks/sWhy/_sWhy.pug
include ../blocks/sGetTours/_sGetTours.pug

block variables
	- let  mainPage= 'haeder-with-bg' 
	- let  bg= '05-tours.jpg'

block title
	- let  title= 'Туры по всей России'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head('', 'Туры по России')
		+headerBlock3()
		+sMostPopular
		+sGetTours
		+sWhy
		+sForm('Хотите сэкономить на отдыхе?', '', 'Оставьте заявку и наши менеджеры подскажут вам, как сделать ваш отдых ещё дешевле!').pb-0 
		+sForm2(true, true, false)
	+parts('footer')
      



