extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug

include ../blocks/sBlog/_sBlog.pug
include ../blocks/sWhy/_sWhy.pug

block variables
	- let  mainPage= '' 
	- let  bg= '06-blog.jpg'

block title
	- let  title= 'Блог'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head('Блог', 'Блог')
		+sBlog('')
			+tags(['Идеи отдыха', 'Пляжный отдых', 'Куда поехать зимой', 'Турция', 'Лучшие отели', 'Идеи отдыха', 'Пляжный отдых', 'Куда поехать зимой', 'Турция', 'Лучшие отели', 'Лучшие отели', 'Лучшие отели', 'Все включено', 'Австрия', 'Венгрия', 'Грузия'], true)
			+e.row.row
				.col-lg-4
					+card('sBlog-img-1.jpg', 'Топ-10 самых бронируемых отелей Турции с отзывами туристов', '17 апреля 2023')
				.col-lg-4
					+card('sBlog-img-1.jpg', 'Топ-10 самых бронируемых отелей Турции с отзывами туристов', '17 апреля 2023')
				.col-lg-4
					+card('sBlog-img-1.jpg', 'Топ-10 самых бронируемых отелей Турции с отзывами туристов', '17 апреля 2023')
				.col-lg-12
					+card('sBlog-img-1.jpg', 'Топ-10 самых бронируемых отелей Турции с отзывами туристов', '17 апреля 2023', 'Лучший семейный отдых&nbsp;&mdash; это отдых на&nbsp;море. Красное, Средиземное или Черное&nbsp;&mdash; большого значения не&nbsp;имеет. Главное, попасть на&nbsp;него в&nbsp;сезон и&nbsp;не&nbsp;прогадать с&nbsp;выбором курорта. Потому что отдых с&nbsp;детьми&nbsp;&mdash; дело тонкое, здесь важно все&nbsp;&mdash; от&nbsp;общего контингента отдыхающих до&nbsp;пляжей и&nbsp;отелей. Не&nbsp;знаете, что выбрать, выбирайте любой из&nbsp;этих семи курортов&nbsp;&mdash; дети будут в&nbsp;восторге!', ['Лучшие отели', 'Лучшие отели', 'Лучшие отели'], true).--horizontal
		+sForm('Поймай горящий тур', true).p-0
		+sBlog(true).pb-0
			+e.row.row
				.col-lg-4
					+card('sBlog-img-1.jpg', 'Топ-10 самых бронируемых отелей Турции с отзывами туристов', '17 апреля 2023')
				.col-lg-4
					+card('sBlog-img-1.jpg', 'Топ-10 самых бронируемых отелей Турции с отзывами туристов', '17 апреля 2023')
				.col-lg-4
					+card('sBlog-img-1.jpg', 'Топ-10 самых бронируемых отелей Турции с отзывами туристов', '17 апреля 2023')
				.col-lg-4
					+card('sBlog-img-1.jpg', 'Топ-10 самых бронируемых отелей Турции с отзывами туристов', '17 апреля 2023')
				.col-lg-4
					+card('sBlog-img-1.jpg', 'Топ-10 самых бронируемых отелей Турции с отзывами туристов', '17 апреля 2023')
				.col-lg-4
					+card('sBlog-img-1.jpg', 'Топ-10 самых бронируемых отелей Турции с отзывами туристов', '17 апреля 2023')
				.col-lg-12
					+card('sBlog-img-1.jpg', 'Топ-10 самых бронируемых отелей Турции с отзывами туристов', '17 апреля 2023', 'Лучший семейный отдых&nbsp;&mdash; это отдых на&nbsp;море. Красное, Средиземное или Черное&nbsp;&mdash; большого значения не&nbsp;имеет. Главное, попасть на&nbsp;него в&nbsp;сезон и&nbsp;не&nbsp;прогадать с&nbsp;выбором курорта. Потому что отдых с&nbsp;детьми&nbsp;&mdash; дело тонкое, здесь важно все&nbsp;&mdash; от&nbsp;общего контингента отдыхающих до&nbsp;пляжей и&nbsp;отелей. Не&nbsp;знаете, что выбрать, выбирайте любой из&nbsp;этих семи курортов&nbsp;&mdash; дети будут в&nbsp;восторге!', ['Лучшие отели', 'Лучшие отели', 'Лучшие отели'], true).--horizontal.--horizontal-2
		+sForm2()
	+parts('footer')
      



