mixin sWhy(data)
	// start sWhy
	+b.SECTION.sWhy.section#sWhy&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Почему лучше отдыхать в России
				p в чем преимущества России перед другими направлениями отдыха
			+e.row.row
				mixin item(icon, title, text)
					.col-sm-6.col-lg-4
						+e.item
							+img(`img/svg/${icon}`)
							h4!= title 
							p!=text
				+item('sWhy-icon-1.svg', 'Природное многообразие', 'Разнообразие достопримечательностей, уникальных заповедников, природных памятников, высоких гор, альпийских лугов и&nbsp;пляжных курортов.')
				+item('sWhy-icon-2.svg', 'Язык, деньги, страховка', 'Нет необходимости в&nbsp;оформлении заграничного паспорта, визы, медицинской страховки, обменивать валюту. Нет проблем с&nbsp;акклиматизацией и&nbsp;со&nbsp;знанием языка.')
				+item('sWhy-icon-3.svg', 'Бюджетный отдых', 'Огромный выбор размещения: от&nbsp;бюджетных пансионатов до&nbsp;современных отелей с&nbsp;комфортабельными номерами, зонами SPA, бассейнами, спортивными залами.')
				+item('sWhy-icon-4.svg', 'Курорт круглый год', 'Многие курорты открыты в&nbsp;любое время года. В&nbsp;Сочи, Крыму можно понежиться на&nbsp;пляже летом и&nbsp;покататься на&nbsp;лыжах зимой. А&nbsp;пейзажи Байкала, Карелии, Алтая одинаково красивы в&nbsp;любое время года.')
				+item('sWhy-icon-5.svg', 'Экскурсионная программа', 'Однодневные и&nbsp;многодневные экскурсии для взрослых и&nbsp;детей по&nbsp;историческим и&nbsp;интересным местам. Увлекательные туры по&nbsp;Золотому Кольцу, в&nbsp;Карелию, на&nbsp;Байкал, Алтай и&nbsp;Дальний Восток')
				+item('sWhy-icon-6.svg', 'Активный отдых', 'С&nbsp;проживанием в&nbsp;палатках или комфортных базах отдыха. Велотуры, рафтинг, трекинг, горнолыжные и&nbsp;конные туры, многодневные походы или туры выходного дня с&nbsp;профессиональными инструкторами.')
				+item('sWhy-icon-7.svg', 'Круизы', 'Непродолжительные экскурсионные круизы по&nbsp;реке или озеру с&nbsp;посещением старинных городов, а&nbsp;также роскошные многодневные круизы на&nbsp;комфортабельных теплоходах.')
				+item('sWhy-icon-8.svg', 'Лечебные туры', 'Классический курортный отдых в&nbsp;сочетании с&nbsp;лечебно-профилактическими процедурами. Огромное разнообразие санаториев, пансионатов и&nbsp;лечебниц с&nbsp;широким спектром услуг по&nbsp;оздоровлению организма.')
				+item('sWhy-icon-9.svg', 'Самостоятельный тур', 'Выберите на&nbsp;нашем сайте понравившийся отель, экскурсию или купите билет на&nbsp;автобус, самолет или поезд и&nbsp;создайте свой индивидуальный маршрут для отдыха.')
	// end sWhy