include ../../layout/include.pug

+b.modal-win
	+form-wrap 
		+e.title.h4 Оставьте свой номер телефона 
		p.after-headline И мы свяжемся с вами в течении 15 минут
		+input('Введите', 'text', 'Ваше имя')
		+input('Введите', 'tel', 'Номер телефона')
		+e.btn.btn.btn-primary(type='submit') Перезвоните мне
		+policy