mixin sInfoBlock(data)
	// start sInfoBlock
	+b.SECTION.sInfoBlock.section#sInfoBlock&attributes(attributes)
		.container
			+e.row.row
				.col-lg
					+e.wrap
						h4 Проведение свадебной церемонии за границей
						p Свадебные церемонии проводятся официальным лицом выбранной страны в&nbsp;местном муниципалитете или за&nbsp;его пределами (если это позволяется). Свидетельство о&nbsp;браке выдается компетентными органами иностранного государства. Данное свидетельство нельзя обменять на&nbsp;свидетельство российского образца. При желании его можно легализовать для Российской Федерации. После получения свидетельства новобрачным следует обратиться в&nbsp;паспортный стол по&nbsp;месту прописки для проставления печати о&nbsp;замужестве в&nbsp;Российский паспорт и&nbsp;смены фамилии.
						+e.addition Европейские брачные церемонии близки российским традициям. В то время как латиноамериканские и азиатские поразят воображение своими экзотическими карнавалами и национальными обрядами.
						h4 Символическая свадебная церемония
						p Еще одним вариантом свадебного тура является проведение символической брачной церемонии, по&nbsp;окончании которой выдается специальный сертификат о&nbsp;заключении брака, имеющий официальную силу в&nbsp;данной стране. Наиболее популярными местами проведения символических свадеб является Таиланд или Мальдивы. Свадебная церемония во&nbsp;Французской Полинезии проходит на&nbsp;закате на&nbsp;берегу моря. Невеста, облаченная в&nbsp;традиционное парео, появляется на&nbsp;пляже в&nbsp;сопровождении танцовщиц, а&nbsp;жених в&nbsp;это время приплывает на&nbsp;пироге. После торжественной речи молодоженам вручаются колья из&nbsp;цветов тиаре, которыми они должны обменяться. Затем новобрачных накрывают традиционным свадебным покрывалом и&nbsp;провожают в&nbsp;бунгало. Там их&nbsp;ждет праздничный стол.
						h4 Медовый месяц
						p Медовый месяц отличается от&nbsp;обычного тура тем, что все заботы по&nbsp;его организации берут на&nbsp;себя турагенты. Наибольшей популярностью среди новобрачных пользуются романтические поездки по&nbsp;городам Европы. Можно выбирать среди проведения отдыха в&nbsp;замках Праги или Словении, в&nbsp;уютных коттеджах Финляндии, расположенных на&nbsp;озерах, во&nbsp;Франции или Италии, города которых отличаются особой романтичностью, а&nbsp;также многое другое. Многочисленные турфирмы помогут вам подобрать подходящий свадебный тур, который будет учитывать все ваши пожелания.
						+e.tag-wrap
							h4 Популярные страны для свадебных туров:
							+tags(['Австралия', 'Австрия', 'Барбадос', 'Бразилия', 'Венгрия', 'Вьетнам', 'Гонконг', 'Греция', 'Грузия', 'Австрия', 'Венгрия', 'Грузия', 'Грузия', 'Бразилия', 'Вьетнам'])
				.col-lg-auto
					+e.important
						h4 Необходимые документы для официальной свадебной церемонии
						ul
							li Российские паспорта вступающих в&nbsp;брак;
							li Свидетельства о&nbsp;рождении;
							li Справки о&nbsp;семейном положении: в&nbsp;зависимости от&nbsp;страны, существует несколько видов таких  справок: афидавит&nbsp;&mdash; оформляется у&nbsp;нотариуса (для островных государств); справка о&nbsp; семейном положении из&nbsp;милиции ЗАГСа или Консульства&nbsp;РФ (для Европы);
							li Свидетельства о&nbsp;разводе , если он&nbsp;имел место быть;
							li Свидетельства о&nbsp;смерти прежнего супруга/супруги при соответствующих обстоятельствах;
							li Предыдущие Свидетельства о&nbsp;браке, если имеются;
							li Документы об&nbsp;изменении фамилии и&nbsp;имени при соответствующих обстоятельствах.
	// end sInfoBlock