// start .sInfoBlock
.sInfoBlock {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(80)};
		--sPB: #{rem(60)};
	}
	&__row{
		--bs-gutter-x: #{rem(40)};
		--bs-gutter-y: #{rem(22)};
	}
	&__wrap {
		h4 {
			margin-bottom: rem(16);
			line-height: 1.2;
		}
		p {
			color: $gray-600;
			line-height: 1.4;
			margin-bottom: rem(40);
			letter-spacing: -0.23px;
		}
	}
	&__addition, blockquote {
		color: $secondary;
		font-weight: 700;
		line-height: 1.2;
		padding-top: rem(31);
		padding-bottom: rem(31);
		border-top: 1px solid $gray-100;
		border-bottom: 1px solid $gray-100;
		margin-bottom: rem(40);
		p {
			line-height: 1.2;
			color: $secondary;
			margin-bottom: 0;
			letter-spacing: normal;
		}
	}
	&__tag-wrap {
		h4 {
			margin-bottom: rem(40);
		}
		// ul {
		// 	@include roww('8px', '8px', m);
		// 	list-style-type: none;
		// 	margin-bottom: 0;
		// 	display: flex;
		// 	flex-wrap: wrap;
		// 	max-width: rem(818);
		// 	li {
		// 		background-color: rgba(0,0,0,.03);
		// 		border-radius: rem(4);
		// 		color: #5b5b5b;
		// 		font-size: rem(16);
		// 		font-weight: 600;
		// 		line-height: 1.4;
		// 		padding: rem(5) rem(7);
		// 	}
		// }
	}
	ul {
		@include roww('8px', '8px', m);
		list-style-type: none;
		margin-bottom: 0;
		display: flex;
		flex-wrap: wrap;
		max-width: rem(818);
		li {
			background-color: rgba(0,0,0,.03);
			border-radius: rem(4);
			color: #5b5b5b;
			font-size: rem(16);
			font-weight: 600;
			line-height: 1.4;
			padding: rem(5) rem(7);
		}
	}
	&__important {
		padding: rem(24);
		border-radius: rem(16);
		background-color: #F8F8F8;
		@include media-breakpoint-up(lg) {
			max-width: rem(368);
		}
		@include media-breakpoint-up(xl) {
			max-width: rem(462);
		}
		h4 {
			margin-bottom: rem(17.8);
			line-height: 1.2;
		}
		ul {
			list-style-type: none;
			margin-bottom: 0;
			li {
				padding-left: rem(22);
				font-size: rem(14);
				line-height: 1.4;
				color: $gray-600;
				position: relative;
				&:not(:last-child) {
					margin-bottom: rem(13.860);
				}
				&:before {
					content: '';
					position: absolute;
					display: block;
					width: 3px;
					height: 3px;
					border-radius: 50%;
					background-color: currentColor;
					left: 9px;
					top: 7px;
				}
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sInfoBlock