mixin sPrivicyPolicy(data)
	// start sPrivicyPolicy
	+b.sPrivicyPolicy.section#sPrivicyPolicy&attributes(attributes)
		.container 
			+e.OL.numbered-list
				li 
					h4 Основные положения
					p Свадебные церемонии проводятся официальным лицом выбранной страны в&nbsp;местном муниципалитете или за&nbsp;его пределами (если это позволяется). Свидетельство о&nbsp;браке выдается компетентными органами иностранного государства. Данное свидетельство нельзя обменять на&nbsp;свидетельство российского образца. При желании его можно легализовать для Российской Федерации. После получения свидетельства новобрачным следует обратиться в&nbsp;паспортный стол по&nbsp;месту прописки для проставления печати о&nbsp;замужестве в&nbsp;Российский паспорт и&nbsp;смены фамилии.
					ol
						li 
							h6 Дополнительный текст подпункта
							p Свадебные церемонии проводятся официальным лицом выбранной страны в&nbsp;местном муниципалитете или за&nbsp;его пределами (если это позволяется). Свидетельство о&nbsp;браке выдается компетентными органами иностранного государства. Данное свидетельство нельзя обменять на&nbsp;свидетельство российского образца. При желании его можно легализовать для Российской Федерации. После получения свидетельства новобрачным следует обратиться в&nbsp;паспортный стол по&nbsp;месту прописки для проставления печати о&nbsp;замужестве в&nbsp;Российский паспорт и&nbsp;смены фамилии.Данное свидетельство нельзя обменять на&nbsp;свидетельство российского образца. При желании его можно легализовать для Российской Федерации. После получения свидетельства новобрачным следует обратиться в&nbsp;паспортный стол по&nbsp;месту прописки для проставления печати о&nbsp;замужестве в&nbsp;Российский паспорт и&nbsp;смены фамилии.
				li 
					h4 Основные положения
					p Свадебные церемонии проводятся официальным лицом выбранной страны в&nbsp;местном муниципалитете или за&nbsp;его пределами (если это позволяется). Свидетельство о&nbsp;браке выдается компетентными органами иностранного государства. Данное свидетельство нельзя обменять на&nbsp;свидетельство российского образца. При желании его можно легализовать для Российской Федерации. После получения свидетельства новобрачным следует обратиться в&nbsp;паспортный стол по&nbsp;месту прописки для проставления печати о&nbsp;замужестве в&nbsp;Российский паспорт и&nbsp;смены фамилии.
					ol
						li 
							h6 Дополнительный текст подпункта
							p Данное свидетельство нельзя обменять на&nbsp;свидетельство российского образца. При желании его можно легализовать для Российской Федерации. После получения свидетельства новобрачным следует обратиться в&nbsp;паспортный стол по&nbsp;месту прописки для проставления печати о&nbsp;замужестве в&nbsp;Российский паспорт и&nbsp;смены фамилии.
							p Свадебные церемонии проводятся официальным лицом выбранной страны в&nbsp;местном муниципалитете или за&nbsp;его пределами (если это позволяется). Свидетельство о&nbsp;браке выдается компетентными органами иностранного государства. Данное свидетельство нельзя обменять на&nbsp;свидетельство российского образца. При желании его можно легализовать для Российской Федерации.
						li 
							h6 Дополнительный текст подпункта
							p Свадебные церемонии проводятся официальным лицом выбранной страны в&nbsp;местном муниципалитете или за&nbsp;его пределами (если это позволяется). Свидетельство о&nbsp;браке выдается компетентными органами иностранного государства. Данное свидетельство нельзя обменять на&nbsp;свидетельство российского образца. При желании его можно легализовать для Российской Федерации. После получения свидетельства новобрачным следует обратиться в&nbsp;паспортный стол по&nbsp;месту прописки для проставления печати о&nbsp;замужестве в&nbsp;Российский паспорт и&nbsp;смены фамилии
	// end sPrivicyPolicy