// start .s404
.s404 {
	// --sPT: #{rem(61)};
	--sPB: #{rem(30)};
	// --sTPB: #{rem()};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(61)};
		--sPB: #{rem(66)};
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};

		align-items: center;
	}
	&__col {
		@include media-breakpoint-down(lg) {
			display: flex;
			justify-content: center;
		}
	}
	&__num {
		color: $secondary;
		font-weight: 700;
		line-height: 1;
		position: relative;
		font-size: rem(180);
		letter-spacing: -40px;
		@include media-breakpoint-down(lg) {
			max-width: max-content;
			margin-left: rem(-38);
		}
		@include media-breakpoint-up(sm) {
			line-height: 1.2;
		} 
		@include media-breakpoint-up(lg) {
			font-size: rem(346);
			letter-spacing: -50.189px;
		}
		@include media-breakpoint-up(xl) {
			margin-left: rem(77);
		}
		&:before {
			content: '';
			position: absolute;
			display: block;
			border-radius: 50%;
			background-color: $secondary;
			width: rem(22);
			height: rem(22);
			left: rem(133);
			top: rem(54);
			@include media-breakpoint-up(lg) {
				width: rem(33);
				height: rem(33);
				left: rem(282.200);
				top: rem(127.400);
			}
		}
		span {
			position: relative;
			z-index: 1;
			color: $primary;
		}
		img {
			width: 100%;
			position: absolute;
			z-index: -1;
			max-width: rem(51);
			bottom: rem(50.800);
			left: rem(90);
			@include media-breakpoint-up(sm) {
				bottom: rem(67);
			}
			@include media-breakpoint-up(lg) {
				max-width: rem(121);
				bottom: rem(124.600);
				left: rem(192);
			}
		}
	}
	&__wrap {
		max-width: rem(319);
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		@include media-breakpoint-up(lg) {
			text-align: left;
			margin-left: 0;
			margin-right: 0;
			margin-bottom: rem(64);
		}
		.h4 {
			margin-bottom: rem(19);
		}
		p {
			color: $gray-600;
			font-size: rem(14);
			margin-bottom: rem(19);
		}
	}
	&__btn {
		width: 100%;
		@include media-breakpoint-up(lg) {
			width: auto;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.s404