mixin sKit(data)
	// start sKit
	+b.SECTION.sKit.section#sKit&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Стандартный набор наших услуг
				p Все хлопоты по вашему отдыху мы берем на себя
			mixin item(img, text, colClass)
				div(class=(colClass ? colClass : 'col-6 col-sm-4 col-lg'))
					+e.item
						img(src=`img/svg/${img}` alt='')
						p!= text
			+e.row
				.row
					+item('sKit-icon-1.svg', 'Оформление<br>авиабилетов')
					+item('sKit-icon-2.svg', 'Оформление<br>виз')
					+item('sKit-icon-3.svg', 'Подбор<br>туров')
					+item('sKit-icon-4.svg', 'Организация<br>трансферов')
					+item('sKit-icon-5.svg', 'Бронирование<br>экскурсий')
	// end sKit