mixin sEmployees(data)
	// start sEmployees
	+b.SECTION.sEmployees.section#sEmployees&attributes(attributes)
		.container
			+b.section-title
				h4 Наши сотрдуники
			+e.row.row
				.col-12
					+e.director-wrap
						p Обращение генерального директора компании Свадебные церемонии проводятся официальным лицом выбранной страны в&nbsp;местном муниципалитете или за&nbsp;его пределами (если это позволяется). Свидетельство о&nbsp;браке выдается компетентными органами иностранного государства. Данное свидетельство нельзя обменять на&nbsp;свидетельство российского образца. При желании его можно легализовать для Российской Федерации. После получения свидетельства новобрачным следует обратиться в&nbsp;паспортный стол по&nbsp;месту прописки для проставления печати о&nbsp;замужестве в&nbsp;Российский паспорт и&nbsp;смены фамилии.
						+img('img/sEmployees-img-1.png').bg
				.col-sm-6.col-xl-4
					+e.wrap
						+e.content-wrap
							h6 Олег Климов
							p Генеральный директор
						+img('img/sEmployees-img-2.png')
				.col-sm-6.col-xl-4
					+e.wrap
						+e.content-wrap
							h6 Виктория Руковская
							p Менеджер отдела продаж
						+img('img/sEmployees-img-3.png')
				.col-sm-6.col-xl-4
					+e.wrap
						+e.content-wrap
							h6 Виктория Руковская
							p Менеджер отдела продаж
						+img('img/sEmployees-img-4.png')
	// end sEmployees