mixin sAboutHead(data)
	// start sAboutHead
	+b.SECTION.sAboutHead.section#sAboutHead&attributes(attributes)
		.container
			+e.row.row
				.col-lg-6
					h4 Ассорти тур
					p Свадебные церемонии проводятся официальным лицом выбранной страны в&nbsp;местном муниципалитете или за&nbsp;его пределами (если это позволяется). Свидетельство о&nbsp;браке выдается компетентными органами иностранного государства. Данное свидетельство<br>нельзя обменять на&nbsp;свидетельство российского образца. При желании его можно легализовать для Российской Федерации. После получения свидетельства новобрачным следует обратиться в&nbsp;паспортный стол по&nbsp;месту прописки для проставления печати о&nbsp;замужестве в&nbsp;Российский паспорт и&nbsp;смены фамилии.
				.col-lg-6
					+img('img/sAboutHead-img-1.jpg').res-i
	// end sAboutHead