// start .sExample
.sExample {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(56.400)};
	}
	&__slider {
		overflow: visible;
		@include media-breakpoint-up(sm) {
			margin-right: rem(-24);
		}
	}
	&__slide {
		min-height: rem(296);
		border-radius: rem(16);
		overflow: hidden;
		width: calc(100% - rem(24));
		margin-right: rem(24);
		@include media-breakpoint-up(sm) {
			width: calc(100% / 2 - rem(24));
		}
		@include media-breakpoint-up(lg) {
			width: calc(100% / 3 - rem(24));
		}
		img {
			cursor: pointer;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sExample